*{
    outline: none;
    background-color: white;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
.burger{
    display: flex;
}
.container-father{
    
}
.icon-menu{
    background-color: lawngreen;
}
.title{
  text-align: left;
  background-color: lawngreen;
  font-size: 50px;
}
.container-details{
    text-align: center;
    width: 70%;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.subtitle{
font-size: 30px;
margin-bottom: 8px;
margin-left: 22px;
}
.details{
font-size: 20px;
}
.container-som{
    border: 1px solid black;
    background-color: black;
}
.som-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: -13px;
    background-color: black;
    color: whitesmoke;
}
.som-details{
    width: 70%;
    font-size: 20px;
    margin-left: 14%;
    padding-top: 20px;
    background-color: black;
    color: whitesmoke;
}
.choose-title{
    font-size: 25px;
    margin-left: 136px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: black;
    color: whitesmoke;
}
.type-container{
    width: 80%;
    display: flex;
    margin-left: 10%;
}
.type-container p {

font-size: 20px;

}
.type-container img{
width: 184px;
height: 309px;

}
.title-three{
    font-size: 20px;
}
.button-type{
    height: 90px;
    width: 170px;
    font-size: 27px;
    background-color: lawngreen ;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 116px;
    margin-left: 609px;
}
.foter{
    border: black solid;
    height: 100px; 
    background-color: lawngreen ;
    
}
.foot-container{
    display: flex;
    background-color: lawngreen ;
}
.icon-facebook2{
font-size: 40px;
color: whitesmoke ;
background-color: greenyellow;
}
.icon-instagram{
    font-size: 40px;
    color: whitesmoke ;
    background-color: greenyellow;
}
.input-icon{
    height: 20px;
    width: 113px;
    font-size: 15px;
    color: black ;
    font-weight: bolder;
    text-align: center;     
   
}
.social{
    margin-left: 30px;
    font-size: 17px;
    background-color: lawngreen ;
}
.social p{
    background-color: lawngreen ;
    color: whitesmoke;
}
.formulario{
    margin-left: 600px;
    font-size: 17px;
    background-color: lawngreen ;
}
.formulario p{
    background-color: lawngreen ;
    color: whitesmoke;
}
.formulario form{
    background-color: lawngreen ;
    color: whitesmoke;
}
.formulario label{
    background-color: lawngreen ;
}
.button-form{
    font-size: 17px;
    background-color: greenyellow;
    border: none;
    
}
@media (max-width: 1024px){



}
@media(max-width: 768px){

    .type-container .details{
        width: 50%;
        }
        .button-type{
            height: 70px;
            width: 130px;
            font-size: 22px;
            background-color: lawngreen ;
            color: black;
            font-weight: bolder;
            border-radius: 11px;
         margin: 0px;
        }
        .formulario{
            width: 30%;
            margin-left: 176px;
        }

}
@media(max-width: 480px){

    
    .subtitle{
        font-size: 24px;
        margin-bottom: 8px;
        
        }
        .details{
        font-size: 14px;
        }

    .title-three {
        font-size: 15px;
    }
    .som-title{
        text-align: center;
        font-size: 24px;
        margin-bottom: -13px;
       
    }
    .som-details{
     
        font-size: 14px;
       
        
    }
    .choose-title{
        font-size: 24px;
        
    }

    .type-container img{
        width: 30%;
        height: 30%;
        }



    .type-container p{
        font-size: 11px;
        }

    .button-type{
        height: 50px;
        width: 100px;
        font-size: 12px;
        background-color: lawngreen ;
        color: black;
        font-weight: bolder;
        border-radius: 11px;
     margin: 0px;
    }


    .social p{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .formulario label{
        font-size: 14px;
    }
    .icon-facebook2{
        font-size: 20px;
     
        }
        .icon-instagram{
            font-size: 20px;
            margin-left: 5px;
          
        }
        .input-icon{
            height: 14px;
            width: 90px;
            font-size: 12px;
            margin-bottom: 5px;
               
           
        }
        .button-form{
            font-size: 15px;
            
            
        }



}
@media(max-width: 320px){







}

